.button {
  height: 52px;
  width: 100%;
  background: $background;
  color: $background--reverse;
  border: none;  
  border-radius: 5px;
  border: 2px solid $background--reverse;
  margin-top: 16px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  opacity: 1;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    transition: 1s;
  }
  &--search {
    width: 20%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
    }
  &--medium {
     width: 46%;
     margin: 0 0 2% 3%;
  }
  &--outline {
    color: $background;
    background: $background--reverse;
    border: 2px solid $background;
    
  }
  &--back {
    background: none;
    width: 12px;
    height: 12px;
    color: $background--reverse;
    padding-left: 10px;
  }
}