.input{
  border: 2px solid black;
  height: 52px;
  width: 100%;
  margin-top: 16px;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 1em;
  transition: 0.3s;
  &:focus {
      padding: 20px 15px;
    }
  
  &--search {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 80%;
  }
}
