.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  &--start {
    justify-content: start;
    flex-wrap: wrap;
  }
}
.browse {
  flex-wrap: wrap;
  margin-bottom: 90px;
}