.footer {
  position: fixed;
  background-color: $background;
  bottom: 0;
  width: 100vw;
  z-index: 6;
  border-top: 1px solid #ccc;
}
.toolbar {
  height: 10vh;
  max-height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}