@import 'fonts';
@import 'variables';

@import 'normalize';

@import 'components/all';
@import 'pages/all';

body {
  background-color: $background;
  padding: 0;
}
.mainlogo, .label {
  letter-spacing: -0.015em;
  padding: 0;
}
.wrapper {
  width: calc(100vw - 2%);
  height: 100%;
  background-color: $background;
  margin: 0;
}
.page-wrapper {
  padding: 0 2vw;
  margin-top: 11vh;
  margin-bottom: 0;
  @media screen and (max-width: 1200px) {
    margin-bottom: 11vw;
    margin-top: 0;
  }
}
.label {
  display: block;
  margin: 44px 0 22px 0;
  font-size: 30px;
  font-weight: normal;
  transition: 0.3s;
  
}
