@import 'fonts';
@import 'variables';

@import 'normalize';

@import 'components/all';
@import 'pages/all';

body {
  background-color: $background;
  padding: 0;
}
.mainlogo, .label {
  letter-spacing: -0.015em;
  padding: 0;
}
.wrapper {
  width: calc(100vw - 2%);
  height: 100%;
  background-color: $background;
  margin: 0;
}
.page-wrapper {
  padding: 0 2vw;
  margin-bottom: 11vh;
}
.label {
  display: block;
  margin: 44px 0 22px 0;
  font-size: 48px;
  font-weight: normal;
}
