
.swiper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $background;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide-img {
  display: block;
  width: 100%;
  height: 400px;
}
.heading {
  padding-left: 3vw;
  font-size: 20px;
  font-weight: bold;
}

.smallicon {
  width: 50%;
  max-width: 400px;
  margin: 0;
}
.category {
  height: 100%;
  width: 100%;
  margin: 0%;
  font-size: 4rem;
  border-radius: 0;
  &--red {
    background-color: $red;
    color: $background;
  }
  &--yellow {
    background-color: $yellow;
    color: $background--reverse;
  }
  &--blue {
    background-color: $blue;
    color: $background;
  }
}